

mat-card {
  opacity: .45;
  background-color: #EDCF0C;

  mat-card-header {

    mat-card-title{
      font-size: 24px;
      color: #184FA1;
      font-weight: 700;
      letter-spacing: 1px;
    }
  }



}

button {
  background-color: #184FA1;
  font-size: 16px;
  color: whitesmoke;
}
