mat-card {
  position: relative;
  background-color: #edcf0c;

  mat-card-header {
    mat-card-title {
      font-size: 1.2em;
      color: #184fa1;
      font-weight: 700;
      letter-spacing: 1px;
      backface-visibility: hidden;
    }
  }

  img {
    background-position: cover;
    height: 9em;
  }
}

.card {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 0.3s ease-in;

  &:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transform: scale(1.07);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.32);
  }
}

button {
  background-color: #184fa1;
  font-size: 16px;
  color: whitesmoke;
  transition: all 0.15s ease-in;

  &:hover, &:focus {
    transform: translateY(-2px);
    filter: brightness(150%);
    transition: all 0.15s ease-in;
    color: #edcf0c;
  }

  &:active {
    transform: none;
  }
}

@keyframes cardAnimation {
  from {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
  to {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transform: scale(1.07);
  }
}
