<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col d-flex flex-column justify-content-center align-items-center mt-5">
      <form class="form">
        <div class="input-group mb-3">
          <input
            [formControl]="criteria"
            type="text"
            class="form-control"
            placeholder="Filtering criteria"
            aria-label="Filtering criteria"
            (input)="applyCriteria()">
          <div class="input-group-append">
            <button
              class="btn btn-primary"
              type="button"
              (click)="applyCriteria()">
              Button
            </button>
          </div>
        </div>

      </form>

      <ul
        class="list-group mt-5"
        [@filterAnimation]="totalItems">
        <li
          class="list-group-item"
          *ngFor="let item of visibleItems, let i = index">
          <div class="inner"><span class="inner--badge">
              {{ i + 1}}
            </span><span class="inner--text">
              {{ item }}
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
