.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    25deg,
    #bb6a32,
    #328abb,
    #c258b0,
    #63ba49,
    #9b6de6,
    #cfc549
  );
  -webkit-animation: movingGradient 45s linear infinite alternate;
  animation: movingGradient 45s linear infinite alternate;
  background-size: 1000% 1000%;

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    font: 900 5em Source Sans Pro, Arial, sans-serif !important;
    @media only screen and (max-width: 600px) {
      font-size: 4em !important;
    }
    margin-bottom: 0.6em;
    color: #d8e0e4;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #c9cfce, 0 2px 0 #bcc2c2, 0 3px 0 #425c59,
      0 4px 0 #335b57, 0 5px 0 #9fa8a7, 0 6px 0 #99a3a2, 0 7px 0 #465957,
      0 8px 0 #3a4b49;
    will-change: letter-spacing, text-shadow;
    transition: letter-spacing 0.4s, text-shadow 0.4s;

    &:hover {
      text-shadow: 0 1px 0 #c9cfce, 0 2px 0 #bcc2c2, 0 3px 0 #928254,
        0 4px 0 #82744a, 0 5px 0 #9fa8a7, 0 6px 0 #99a3a2, 0 7px 0 #82744a,
        0 8px 0 #716541;
      letter-spacing: 0.1em;
    }
  }
  #top-container__description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 400%);
    font: 400 1.2em "Teko", sans-serif !important;
    color: #f4f5f5;
    letter-spacing: 0.11em;
  }
}

a {
  background-color: transparent;
  .arrow {
    cursor: pointer;
    width: 5em;
    position: absolute;
    bottom: 1em;
    left: calc(50% - 2.5em);
    opacity: 0.8;
    transition: all 0.5s;
    mix-blend-mode: overlay;
    -webkit-animation: arrow2 4s ease-in-out infinite alternate-reverse,
      fade-in 3s ease-out 1s backwards;
    animation: arrow2 4s ease-in-out infinite alternate-reverse,
      fade-in 3s ease-out 1s backwards;
    path {
      fill: none;
      stroke: #fff;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 0.7;
    }
  }
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
svg:not(:root) {
  overflow: hidden;
}

.line-break {
  height: 5vh;
  background-color: #edcf0c;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.3);
}

.back-home {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  width: 2.5em;
  height: 2.5em;
  bottom: 1em;
  left: 1em;
  background-color: #edcf0c;
  -webkit-box-shadow: 13px 13px 35px -7px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 13px 13px 35px -7px rgba(0, 0, 0, 0.57);
  box-shadow: 13px 13px 35px -7px rgba(0, 0, 0, 0.57);
}

@-webkit-keyframes movingGradient {
  0% {
    background-position: 100% 0;
  }

  to {
    background-position: 0 100%;
  }
}

@keyframes movingGradient {
  0% {
    background-position: 100% 0;
  }

  to {
    background-position: 0 100%;
  }
}

@-webkit-keyframes show-text {
  0% {
    transform: scale(2);
  }

  to {
    transform: none;
  }
}

@keyframes show-text {
  0% {
    transform: scale(2);
  }

  to {
    transform: none;
  }
}

@-webkit-keyframes arrow2 {
  0% {
    transform: translateY(25%) scaleX(0.8);
  }

  to {
    transform: translateY(-25%) scale(1.2, 0.8);
  }
}

@keyframes arrow2 {
  0% {
    transform: translateY(25%) scaleX(0.8);
  }

  to {
    transform: translateY(-25%) scale(1.2, 0.8);
  }
}

.router-animations {
}


