<app-cursor></app-cursor>
<div class="top-container">
  <h1>Animation<br>ShowCase</h1>
  <p id="top-container__description"></p>

</div>
<div id="top-linebreak" class="line-break"></div>
<a href="#top-linebreak">
  <svg viewBox="0 0 10 9" class="arrow">
    <title>
      Scroll down
    </title>
    <path d="M1,3 L5,6 L9,3"></path>
  </svg>
</a>
<div
  id="main"
  class="container">
  <div class="row m-5 justify-content-center">
    <div class="col-sm-10 col-md col-xl-3 m-3">
      <app-card
        title="Scroll Animation"
        imgUrl="https://material.angular.io/assets/img/examples/shiba2.jpg"
        imgAlt="Screenshot of scroll animation effect"></app-card>
    </div>
    <div class="col-sm-10 col-md col-xl-3 m-3">
      <app-card
        title="Test"
        imgUrl="https://material.angular.io/assets/img/examples/shiba2.jpg"
        imgAlt="Screenshot of Drag and Drop effect"></app-card>
    </div>
    <div class="col-sm-10 col-md col-xl-3 m-3">
      <app-card
        title="Test"
        imgUrl="https://material.angular.io/assets/img/examples/shiba2.jpg"
        imgAlt="Screenshot of Drag and Drop effect"></app-card>
    </div>
  </div>
  <div class="row m-5 justify-content-center">
    <div class="col-sm-10 col-md col-xl-3 m-3">
      <app-card
        title="Test"
        imgUrl="https://material.angular.io/assets/img/examples/shiba2.jpg"
        imgAlt="Screenshot of Drag and Drop effect"></app-card>
    </div>
    <div class="col-sm-10 col-md col-xl-3 m-3">
      <app-card
        title="Test"
        imgUrl="https://material.angular.io/assets/img/examples/shiba2.jpg"
        imgAlt="Screenshot of Drag and Drop effect"></app-card>
    </div>
    <div class="col-sm-10 col-md col-xl-3 m-3">
      <app-card
        title="Test"
        imgUrl="https://material.angular.io/assets/img/examples/shiba2.jpg"
        imgAlt="Screenshot of Drag and Drop effect"></app-card>
    </div>
  </div>
</div>
