<app-cursor></app-cursor>
<div class="top-container">
  <h1>Animation<br>ShowCase</h1>
  <p id="top-container__description"></p>

</div>
<div
  #topLineBreak
  id="top-linebreak"
  class="line-break"></div>
<a (click)="onClickArrow(topLineBreak)">
  <svg viewBox="0 0 10 9" class="arrow">
    <title>
      Scroll down
    </title>
    <path d="M1,3 L5,6 L9,3"></path>
  </svg>
</a>

<router-outlet></router-outlet>

<div
  *ngIf="showBackHomeButton"
  class="back-home"
  (click)="backHome()">
</div>
