h2 {
  color: #edcf0c;
  letter-spacing: 1.1px;
}

.progress {
  position: sticky;
  top: 20px;
  margin: 0 auto;
  background-color: #edcf0c94;
  width: 90%;
  height: 17px;
  border-radius: 20px;
  z-index: 999;

  &__bar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #edcf0c;
    width: 0;
  }
}

.container {
  min-height: 1500px;
  height: 3000px;
}

.card {
  background-color: whitesmoke;
  height: 10em;
  max-width: 30em;
  border: 0;
  margin-bottom: 2em;

  h5 {
    color: #0A62BF;
    padding: .4em 1em;

  }

  p {
    text-align: center;
    color: rgba(0, 0, 0, 0.767);
  }

  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1em;
    width: 100%;
    background-color: #edcf0c;
  }
}
