<div class="container">
  <div class="row py-5">
    <div class="col text-center">
      <h2>Hover & Click on the buttons</h2>
    </div>
  </div>
  <div class="row ">
    <div class="col-sm mb-4  d-flex justify-content-around align-items-center ">
      <button class="btn-animation-1">
          From left
      </button>
    </div>

    <div class="col-sm mb-4 d-flex justify-content-around align-items-center ">
      <button class="btn-animation-2">
          From top
      </button>
    </div>

    <div class="col-sm mb-4 d-flex justify-content-around align-items-center ">
      <button class="btn-animation-3">
          From right
      </button>
    </div>
    <div class="col-sm mb-4 d-flex justify-content-around align-items-center ">
      <button class="btn-animation-4">
          From bottom
      </button>
    </div>
  </div>
</div>
