<div class="container">
  <div class="row py-5">
    <div class="col text-center">
      <h2>Hover & Click on the buttons</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm mb-4  d-flex justify-content-around align-items-center">
      <div class="button__parent">
        <button class="button button__animation--1">From left</button>

      </div>
    </div>

    <div class="col-sm mb-4 d-flex justify-content-around align-items-center">
      <button class="button button__animation--2">From top</button>
    </div>

    <div class="col-sm mb-4 d-flex justify-content-around align-items-center">
      <button class="button button__animation--3">From right</button>
    </div>
    <div class="col-sm mb-4 d-flex justify-content-around align-items-center">
      <button class="button button__animation--4">From bottom</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm d-flex justify-content-center">
      <button  class="button button__animation--4"  (mouseenter)="addAnimation($event)">From mouse position</button>
    </div>
  </div>
</div>
