/* You can add global styles to this file, and also import other style files */

@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid"; // add the grid
@import "~bootstrap/scss/utilities"; // add css utilities
@import "reset";

html, body { height: 100%; background-color: $background-color; scroll-behavior: smooth;}
body { margin: 0; font-family: Signika Negative, sans-serif; }

