<div
  id="main"
  class="container">
  <div class="row m-5 justify-content-center">
    <div class="col-sm-10 col-md col-xl-3 m-3">
      <app-card
        title="Scroll Animation"
        imgUrl="https://material.angular.io/assets/img/examples/shiba2.jpg"
        imgAlt="Screenshot of scroll animation effect"
        route="scroll-animation"></app-card>
    </div>
    <div class="col-sm-10 col-md col-xl-3 m-3">
      <app-card
        title="Test"
        imgUrl="https://material.angular.io/assets/img/examples/shiba2.jpg"
        imgAlt="Screenshot of Drag and Drop effect"></app-card>
    </div>
    <div class="col-sm-10 col-md col-xl-3 m-3">
      <app-card
        title="Test"
        imgUrl="https://material.angular.io/assets/img/examples/shiba2.jpg"
        imgAlt="Screenshot of Drag and Drop effect"></app-card>
    </div>
  </div>
  <div class="row m-5 justify-content-center">
    <div class="col-sm-10 col-md col-xl-3 m-3">
      <app-card
        title="Test"
        imgUrl="https://material.angular.io/assets/img/examples/shiba2.jpg"
        imgAlt="Screenshot of Drag and Drop effect"></app-card>
    </div>
    <div class="col-sm-10 col-md col-xl-3 m-3">
      <app-card
        title="Test"
        imgUrl="https://material.angular.io/assets/img/examples/shiba2.jpg"
        imgAlt="Screenshot of Drag and Drop effect"></app-card>
    </div>
    <div class="col-sm-10 col-md col-xl-3 m-3">
      <app-card
        title="Test"
        imgUrl="https://material.angular.io/assets/img/examples/shiba2.jpg"
        imgAlt="Screenshot of Drag and Drop effect"></app-card>
    </div>
  </div>
</div>
